USE [Quiz]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 03.10.2020 08:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[answer] [varchar](max) NOT NULL,
	[isValid] [bit] NOT NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 03.10.2020 08:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question] [varchar](max) NOT NULL,
	[points] [int] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([id], [question_id], [answer], [isValid]) VALUES (7, 7, N'<<A>>', 1)
INSERT [dbo].[Answers] ([id], [question_id], [answer], [isValid]) VALUES (8, 7, N'<<B>>', 0)
INSERT [dbo].[Answers] ([id], [question_id], [answer], [isValid]) VALUES (9, 7, N'<<C>>', 0)
GO
SET IDENTITY_INSERT [dbo].[Answers] OFF
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([id], [question], [points]) VALUES (7, N'<<PYTANIE>>', 12)
INSERT [dbo].[Questions] ([id], [question], [points]) VALUES (8, N'<<PYTANIE>>', 12)
INSERT [dbo].[Questions] ([id], [question], [points]) VALUES (9, N'<<PYTANIE>>', 12)
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [Answers_FK_Questions] FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([id])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [Answers_FK_Questions]
GO
